@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;

}

body {
  margin: 0;
  padding: 0%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222a35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

/* Backdrop filter */
::-webkit-backdrop-filter {
  blur: 3px saturate(106%);
}

/* Responsive Typography */
html {
  font-size: 100%; /* Base font size for small screens */
}

@media (min-width: 768px) {
  html {
    font-size: 112.5%; /* Increase font size for tablets */
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 125%; /* Further increase font size for larger screens */
  }
}

/* Responsive Container */
.container {
  max-width: 100%;
  padding: 1rem; /* Ensure some padding around content */
  margin: 0 auto;
}

/* Responsive Flexbox Layout */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Space between items */
}

.flex-item {
  flex: 1 1 calc(100% - 1rem); /* Single column on small screens */
}

@media (min-width: 768px) {
  .flex-item {
    flex: 1 1 calc(50% - 1rem); /* Two columns on tablets */
  }
}

@media (min-width: 1200px) {
  .flex-item {
    flex: 1 1 calc(33.333% - 1rem); /* Three columns on larger screens */
  }
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* Responsive Videos */
video {
  max-width: 100%;
  height: auto;
}

/* Media Queries for Specific Layout Adjustments */
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 2px; /* Narrower scrollbar on small screens */
  }
}
